* {
    color: #333;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none
}

body {
    display: flex;
    justify-content: space-around;
    position: absolute;
}

.menu {
    position: fixed;
    left: 0;
    width: 20%;
    height: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.menu .titulo {
    width: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 20px;
    background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
}

.menu .titulo h1 {
    font-size: 20px;
    color: #fff;
    font-family: Roboto;
}

.menu .img {
    width: 100%;
}

.menu .img img {
    width: 100%;
}

.menu ul a li {
    width: 100%;
    font-size: 18px;
    font-family: Roboto;
    border-bottom: 2px solid #ccc;
    padding: 6px;
    box-sizing: border-box;
    transition: 0.4s;
}

.menu ul a li:hover {
    border-left: 8px solid #ee7f38;
    background: rgb(238 127 56 / 0.1);
}

.conteudo-pages {
    width: 52%;
    position: relative;
    padding: 0 10px;
    box-sizing: border-box;
}

.box-01-total .box-01 {
    width: 1075px;
    display: flex;
    flex-wrap: wrap;
    background: rgb(238 127 56 / 0.2);
    padding: 10px;
    box-sizing: border-box;
}

.box-01-total .box-01 .conteudo {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
}

.box-01-total .box-01 .conteudo p1 {
    width: 100%;
    font-size: 17px;
    font-family: Roboto;
}

.box-01-total .box-01 .conteudo p2 {
    width: 100%;
    font-size: 18px;
    font-family: Roboto;
}

.box-01-total .box-01 .conteudo p3 {
    width: 100%;
    font-size: 19px;
    font-family: Roboto;
}

.box-01-total .box-01 .info {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.box-01-total .box-01 .info select {
    background: transparent;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px;
}

.box-01-total .box-01 .info .login {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.box-01-total .box-01 .info .login .conteudo {
    display: flex;
    justify-content: right;
    text-align: right;
    width: 70%;
    flex-wrap: wrap;
}

.box-01-total .box-01 .info .login .img i {
    font-size: 30px;
}

.box-02-total .box-02 {
    width: 1070px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    box-sizing: border-box;
}

.box-02-total .box-02 .itens-total .itens {
    width: 783px;
}

.box-02-total .box-02 .itens-total .itens.corrige {
    width: 250px;
    position: absolute;
    right: -89%;
    top: 50%;
    padding: 10px;
    box-sizing: border-box;
}

.box-02-total .box-02 .itens-total .itens.corrige .botoes {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}

.box-02-total .box-02 .itens-total .itens.corrige .botoes .botao1 {
    margin: 10px 3px;
}

.box-02-total .box-02 .itens-total .itens.corrige .botoes .botao2 {
    margin: 10px 3px;
}

.box-02-total .box-02 .itens-total .itens .titulo {
    padding: 10px 0;
    box-sizing: border-box;
}

.box-02-total .box-02 .itens-total .itens .titulo h2 {
    font-family: Roboto;
    color: #ED7839;
}

.box-02-total .box-02 .itens-total .itens .img {
    z-index: -1;
    position: absolute;
}

.box-02-total .box-02 .itens-total .itens .img img {
    position: absolute;
}

.box-02-total .box-02 .itens-total .itens .img2 {
    position: absolute;
    left: 8.42%;
    top: 246.18%;
    bottom: -100%;
}

.box-02-total .box-02 .itens-total .itens .img2 img {
    width: 50px;
    height: 50px;
}

.box-02-total .box-02 .itens-total .itens .titulo-video1 {
    z-index: 1;
    position: absolute;
    width: 783px;
    height: 439px;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    font-family: roboto;
    font-weight: bold;
    line-height: 25px;
    size: 24px;
    color: #fff;
    font-size: 26px;
}

.box-02-total .box-02 .itens-total .itens .titulo-video2 {
    position: absolute;
    height: 36px;
    left: 100px;
    top: 501px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 34px;
    line-height: 25px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.box-02-total .box-02 .itens-total .itens .titulo-video3 {
    position: absolute;
    height: 27px;
    left: 101px;
    top: 530px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.box-02-total .box-02 .itens-total .itens.corrige .titulo h2 {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0.05em;
    text-align: right;
}

.box-02-total .box-02 .itens-total .itens.corrige .detalhes .titulo {
    width: 100%;
    background: #FDF1EB;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 3px 3px 0px 0px;
    padding: 10px;
}

.box-02-total .box-02 .itens-total .itens.corrige .detalhes .titulo h2 {
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color: #4E4E4E;
}

.box-02-total .box-02 .itens-total .itens.corrige .detalhes .conteudo {
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 10px;
    font-family: Quicksand;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 107%;
    letter-spacing: 0.02em;
    color: #5C5C5C;
}

.box-02-total .box-02 .itens-total .itens.corrige .detalhes .conteudo span {
    color: #5C5C5C;
    font-weight: 600;
}

.box-03-total .box-03 {
    position: absolute;
    width: 1070px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    box-sizing: border-box;
}

.box-03-total .box-03 .itens {
    padding: 20px;
    position: absolute;
    width: 1058px;
    left: 1px;
    top: 440px;
    box-sizing: border-box;
}

.box-03-total .box-03 .itens .titulo {
    width: 102%;
    background: #FDF1EB;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 3px 3px 0px 0px;
}

.box-03-total .box-03 .itens .titulo h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    align-items: center;
    color: #4E4E4E;
    padding: 15px;
    box-sizing: border-box;
    width: 100%;
}

.box-03-total .box-03 .itens .conteudo {
    position: absolute;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ECECEC;
    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.02em;
    color: #5C5C5C;
}

.box-04-total {
    position: absolute;
    left: 0px;
    top: 30px;
}

.box-04-total .box-04 {
    top: 1270px;
    padding: 20px;
    position: absolute;
    width: 1040px;
    left: 30px;
    box-sizing: border-box;
    border: 1px solid #ECECEC;
}

.box-04-total .box-04 .itens {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.box-04-total .titulo {
    width: 1040px;
    background: #FDF1EB;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 3px 3px 0px 0px;
    position: absolute;
    top: 1214px;
    left: 30px;
}

.box-04-total .titulo h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    align-items: center;
    color: #4E4E4E;
    padding: 15px;
    box-sizing: border-box;
    width: 100%;
}

.box-04-total .box-04 .itens .titulo {
    width: 102%;
    background: none;
    border: none;
    border-radius: inherit;
    top: -40px;
    left: 0;
    position: inherit;
}

.box-04-total .box-04 .itens .titulo h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #ED7839;
    display: flex;
    justify-content: center;
    padding: 30px;
}

.box-04-total .box-04 .itens .imagens {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-04-total .box-04 .itens .imagens img {
    margin: 0px 20px;
}

.box-04-total .box-04 .itens .conteudo {
    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.box-04-total .box-04 .itens .linha {
    border: 1px solid #E7E7E7;
    position: relative;
    box-sizing: border-box;
    margin: 30px 0;
}

.box-04-total .box-04 .itens .botao {
    position: absolute;
    top: 240px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 460px;
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
    border-radius: 4px;
}

.box-04-total .box-04 .itens .botao i {
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    margin-right: 5px;
}

.box-04-total .box-04 .itens-total .itens2 {
    padding: 20px;
    border: 1px solid #E7E7E7;
    box-sizing: border-box;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    margin: 20px 0;
    width: 100%;
}

.box-04-total .box-04 .itens-total .itens2 .titulo {
    position: inherit;
    width: 100%;
    background: none;
    border: none;
    top: 0;
    left: 0;
    border-radius: inherit;
}

.box-04-total .box-04 .itens-total .itens2 .titulo h2 {
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 20px;
    color: #ED7839;
    display: block;
    padding: 10px 0px;
    width: inherit;
}

.box-04-total .box-04 .itens-total .itens2 .titulo2 {
    padding: 5px 0px;
}

.box-04-total .box-04 .itens-total .itens2 .titulo2 h3 {
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #5C5C5C;
}

.box-04-total .box-04 .itens-total .itens2 .conteudo {
    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #4D4D4D;
    padding: 10px 0;
}

.box-04-total .box-04 .itens-total .itens2 .icones {
    display: flex;
    justify-content: left;
}

.box-04-total .box-04 .itens-total .itens2 .icones i {
    margin: 10px;
    color: #ED7839;
}

.box-04-total .box-04 .itens-total .itens2 .icones p {
    margin: 10px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 350;
    font-size: 14px;
    line-height: 19px;
    color: #757575;
}

.box-05-total img {
    position: absolute;
    bottom: -2100px;
    padding: 20px;
    box-sizing: border-box;
    width: 1060px;
}
